<table class="student-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Sexo</th>
        <th>Nota Final</th>
        <th>Faltas de Asistencia</th>
      </tr>
    </thead>
    <tbody>
      @for (student of getStudents(); track $index) {
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.nombre }}</td>
            <td>{{ student.apellidos }}</td>
            <td>{{ student.sexo }}</td>
            <td>
                @if (student.nota_final < 5){
                    Suspendido
                } @else {
                    Aprobado
                }
            </td>
            <td>{{ student.faltas_asistencia }}</td>
          </tr>
      }@empty {
        <tr>
          <td colspan="6">No students available!</td>
        </tr>
      }
    </tbody>
  </table>
  